* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* -------------- Similar style section -------------- */

.btn {
    padding: 15px 38px;
    background-color: #E55473;
    border-radius: 6px;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.btn:hover {
    background-color: #80B135;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* -------------- Banner style section -------------- */

.banner-container {
    background-color: #E554731A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-text-area {
    width: 580px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    padding: 10px;
}

.banner-description {
    padding: 10px;
}

.banner-btn {
    margin: 10px;
}

.banner-photo {
    width: 480px;
    margin-top: 60px;
}

/* -------------- Featured Flowers(F-F) style section -------------- */

.f-f-container {
    height: 100vh;
}

.f-f-text-area {
    text-align: center;
    width: 550px;
    margin: auto;
}

.f-f-images-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f-f-photo {
    width: 200px;
}

.f-f-image-title {
    text-decoration: underline;
}