* {
    margin: 0;
}

/* -------------- Similar style section -------------- */



/* -------------- Banner style section -------------- */

.banner {
    background-color: #E554731A;
    height: 100vh;

}