* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* -------------- Similar Style Section -------------- */

.btn {
    padding: 15px 35px;
    background-color: #E55473;
    border-radius: 6px;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #80B135;
    color: black;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.title {
    font-weight: 900;
}

/* -------------- Banner Style Section -------------- */

.banner-container {
    background-color: #E554731A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-text-area {
    width: 580px;
    margin-left: 117px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    padding: 10px;
}

.banner-description {
    padding: 10px;
}

.banner-btn {
    margin: 10px;
}

.banner-photo {
    width: 460px;
    margin: 85px 115px 0px 0px;
}

/* -------------- Featured Flowers(F-F) Style Section -------------- */

.f-f-container {
    height: 100vh;
    margin-top: 30px;
}

.f-f-title {
    padding: 15px;
    font-size: 35px;
}

.f-f-description {
    padding: 10px;
}

.f-f-text-area {
    text-align: center;
    width: 550px;
    margin: auto;
}

.f-f-images-area {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: center;
}

.f-f-photo-1 {
    width: 225px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 50px;
    margin: 15px;
    box-shadow: rgb(114, 114, 114) 5px 5px 20px;
}

.f-f-photo-2 {
    width: 250px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 80px 40px;
    margin: 15px;
    box-shadow: rgb(114, 114, 114) 5px 5px 20px;
}

.f-f-photo-3 {
    width: 207px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 55px 55px 45px 55px;
    margin: 15px;
    box-shadow: rgb(114, 114, 114) 5px 5px 20px;
}

.f-f-image-text {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.f-f-image-title {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
}

/* -------------- Delivery, Local & Support(D-L-S) Style Section -------------- */

.d-l-s-container {
    width: 77%;
    margin: auto;
    height: 30vh;
    border-radius: 15px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.d-l-s-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-l-s-icon {
    width: 65px;
    padding: 20px;
}

.d-l-s-description {
    font-weight: 700;
}

/* -------------- Hot Deal(H-D) Style Section -------------- */

.h-d-container {
    background-color: rgba(229, 84, 115, 0.05);
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h-d-text-area {
    width: 45%;
    margin: auto;
    text-align: center;
}

.h-d-title {
    padding: 10px;
}

.h-d-description {
    padding: 15px;
}


.h-d-images {
    width: 30%;
}

.h-d-photo {
    width: 230px;
}

/* -------------- Instagram(Insta) Style Section -------------- */

.instagram-section {
    margin-top: 20px;
    margin-bottom: 220px;
}

.insta-container {
    height: 60vh;
}

.insta-text-area {
    text-align: center;
    width: 45%;
    margin: auto;
    padding: 50px;
}

.insta-title {
    padding: 20px;
}

.insta-images {
    display: flex;
    justify-content: center;
}

.insta-photo {
    width: 250px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: rgb(114, 114, 114) 10px 10px 20px;
}

/* -------------- Latest Deals Style(L-D) Section -------------- */

.l-d-container {
    height: 45vh;
    background-image: url(assets/images/latest-deal-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 76vw;
    margin: auto;
    border-radius: 8px;
    box-shadow: rgb(114, 114, 114) 5px 5px 50px;
}

.l-d-texts {
    text-align: center;
    padding: 45px;
}

.l-d-description {
    padding: 18px;
    font-size: 17px;
}

.subscribe-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    width: 400px;
    height: 48px;
    border-radius: 8px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

input[placeholder="Enter your email here...."] {
    padding-left: 20px;
}

.l-d-btn {
    margin-left: 20px;
}


/* -------------- Customer Review Style Section -------------- */

.c-r-container {
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
    margin-top: 60px;
}

.c-r-title {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

figure.snip1390 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #2C3447;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.snip1390 figcaption {
    width: 100%;
}

figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
    margin: 0;
}

figure.snip1390 h2,
figure.snip1390 h4 {
    font-weight: 300;
}

figure.snip1390 h2 {
    color: #ffffff;
}

figure.snip1390 h4 {
    color: #a6a6a6;
}

figure.snip1390 blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}

figure.snip1390 blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
}

figure.snip1390 .profile {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #A6A57A;
}



/* -------------- Footer Style Section -------------- */

.footer-section {
    background-color: #111010;
    height: 40vh;
    margin-top: 100px;
}

.footer-container {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

#flower-color {
    color: #E55473;
}

.footer-title {
    padding: 20px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    width: 40%;
    margin: auto;
    padding: 10px;
    font-size: 15px;
}

.copyright {
    padding: 15px;
    color: gray;
}


/* Clean code always looks like it was written by someone who cares. — Robert C. Martin */

/* --------------------------- THE END ----------------------------- */